{% extends 'cor/base.html' %}
{% block content %}
    <div class="container my-5">
        <h1 class="text-warning mb-5 border-bottom">SKILLS</h1>
        <!-- first row -->
        <div class="row text-white">
            <!-- first column -->
            <div class="col-sm-5">
                <h3 class="mt-5">HTML/CSS</h3>
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar"
                      style="width:100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%
                    </div>
                </div>
            </div>
            <!-- Second Column -->
            <div class="col-sm-5 offset-sm-2">
                <h3 class="mt-5">Javascript</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped
                       progress-bar-animated" role="progressbar"
                       style="width:95%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">95%
                    </div>
                </div>
            </div>
              <!-- 3rd column -->
            <div class="col-sm-5">
                <h3 class="mt-5">Python</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped
                       progress-bar-animated" role="progressbar"
                    style="width:95%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">95%</div>
                </div>
            </div>  
            <!-- 4th column -->
            <div class="col-sm-5 offset-sm-2">
                <h3 class="mt-5">Django</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped
                       progress-bar-animated" role="progressbar"
                      style="width:65%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">65%
                    </div>
                </div>
            </div>
            <!-- 5th column -->
            <div class="col-sm-5">
                <h3 class="mt-5">Javascript</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped
                       progress-bar-animated" role="progressbar"
                      style="width:85%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">85%
                    </div>
                </div>
            </div>
            <!-- 6th column -->
            <div class="col-sm-5 offset-sm-2">
                <h3 class="mt-5">React</h3>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped
                       progress-bar-animated" role="progressbar"
                      style="width:55%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">55%
                    </div>
                </div>
            </div>
    </div>
</div>


{% endblock content %}